.fp-xpert_upload-size {display:none;}
.repository_xpert_upload_wrapper {position:absolute; top:0;left:0;right:0;bottom:0; background-color:#fff;}
.repository_xpert_upload .fp-xpert_upload-size {display:table-row;}
.repository_xpert_upload .fp-content {position:relative;}
.repository_xpert_upload_wrapper textarea {display:none;}
.repository_xpert_upload_wrapper > div {margin:20% auto; text-align:center;}
.repository_xpert_upload .colourradiobutton { height: 1em; padding: 5px;}
.repository_xpert_upload .colourwhiteblack { background-color: #ffffff; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colourblackwhite { background-color: #000000; color: #ffffff; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colourgreyblack { background-color: #cccccc; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colourbluebrown { background-color: #c5effd; color: #231f20; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colourpeachbrown { background-color: #ecc5a8; color: #372f18; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colouryellowblack { background-color: #fefcd7; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
.repository_xpert_upload .colourpinkblack { background-color: #ffe9e8; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; display: inline-block; line-height: 13px; font-size: 11px;}
